# Node
node_modules/
**/node_modules/
*.log
*.tsbuildinfo

# Build
dist/
**/dist/
build/
**/build/
coverage/
**/coverage/
.turbo/
.next/
.cache/

# Env
.env
.env.*
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
